<h2>Enfermagem</h2>

<p>Ola, <strong>{{user.username}}</strong></p>

<p>Uma solicitacao para troca de senha foi feita para essa conta <strong>{{user.email}}</strong></p>

<p>Caso não tenha sido você, sugerimos a trocar da senha</p>

<p>Caso tenha feito a solicitacao, utilize o link a seguir </p>

<a href={{url}}>Alterar senha</a>


<br />
<br />
<strong>Suporte Tecnico</strong>
